.ProductDetails{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .ProductDetails_container{
        margin-top: 200px;
        display: flex;
        align-items: center;
        gap: 30px;
        width: 90%;
        position: relative;
        margin-bottom: 100px;
        .home_name{
            position: absolute;
            left: 0;
            display: flex;
            align-items: center;
            gap: 15px;
            top: -20px;
            a{
                font-size: 16px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
            }
            p{
                font-size: 14px;
                font-weight: 500;
                color: #878787;
            }
        }
       
        .productDetails_img{
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            gap: 20px;
            .main_img{
                width: 540px;
                height: 540px;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                }
                span{
                    right: 15px;
                    top: 15px;
                    position: absolute;
                    border: 1px solid #ed1f1f;
                    background-color: #ed1f1f;
                    color: white;
                    padding: 5px 10px;
                    font-size: 10px;
            letter-spacing: .3em;
            padding: 5px 12px;
                }
            }
            .myDetails{
                max-height: 300px;

               .selected_img{
                width: 78px !important;
                height: 78px !important;
                img{
                    
                    height: 100%;
                    width: 100%;
                }
               }
                    
                
            }
        }
       
        .productDetails_info{
            display: flex;
        width: 507px;
            flex-direction: column;
            p{
                font-size: 18px;
                color: #a8a8a8;
                line-height: 28px;
                font-weight: 400;
            }
            h2{
                font-size: 24px;
                font-weight: 400;
                color: #000;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                text-transform: capitalize;
            }
            .prices{
                gap: 5px;
                display: flex;
                align-items: center;
                padding-bottom: 20px;
                border-bottom: 1px solid #f3f3f3;
                h1{
                    font-size: 20px;
                    font-weight: 400;
                }
                del{
                    font-size: 16px;
                    font-weight: 400;
                    color: #83868c;
                }
            }
            .title{
                display: flex;
                align-items: center;
                gap: 50px;
                justify-content: space-between;
                a{
                    font-size: 14px;
                border-radius: 50%;
                border:1px solid #f3f3f3;
                width: 40px;
                height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                }
                .active{
                    background-color: #ffab00;
                    color: white;
                    
                }
            }
            p{
                padding-top: 20px;
            }
        }
    }
}
