nav{
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99;
    height: 100px;
    width: 100%;
    background-color: transparent;
    .nav_container{
        width: 90%;
        
       
        display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
       
        img{
            width: 125px;
            height: 31px;
        }
    }
    ul{
        
        display: flex;
        list-style-type: none;
        gap: 30px;
        li{
            position: relative;
           a{
            font-size: 24px;
            font-weight: 700;
            font-family: 'Sofia Sans', sans-serif;
            text-decoration: none;
            color: white;
            transition: 0.3s;
            display: flex;
            align-items: center;
            justify-content: center;
            
           
           }
           span{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: -15px;
            
            
            bottom: 30px;
            svg{
                font-size: 24px;
            }
            p{
                color: white;
                position: absolute;
                font-size: 10px;
                bottom: 9.5px;
            }
          
        }
           a:hover{

            color: #ffab00;
           }
        }
       
            
        
    }
    .icons{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        svg{
            color: white;
           font-size: 24px;
          
        }
        .wishlistnew{
            position: absolute;
            bottom: 15px;
            left: 95px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            color: #fff!important;
            text-align: center;
            font-size: 11px;
            font-weight: 500;
            line-height: 22px;
            background: #ffab00;
            
        }
        .basketnew{
           
            position: absolute;
            bottom: 15px;
            left: 132px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            color: #fff!important;
            text-align: center;
            font-size: 11px;
            font-weight: 500;
            line-height: 22px;
            background: #ffab00;
        }
    }
    }
}
.scrolled {
    transition: 0.3s;
    background-color: black;
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeDown 0.6s ease-in-out;
  }
  
  @keyframes fadeDown {
    from {
        
      transform: translateY(-100%);
    }
    to {
       
      transform: translateY(0);
    }
  }

  .wishlist{
    width: 100%;
    height: 200vh;
    background-color: black;
    opacity: 0.7;
    z-index: 101;
    position: fixed;
   
  
  }
  .wishlist_container{
    height: 100%;
    width: 380px;
    background-color: white;
    position: fixed;
    z-index: 110;
    opacity: 1 !important;
    right: 0;
    overflow-y: auto;
    .wishlist_top{
        position: relative;
        top: 0;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ecebeb;
        .close{
            transition: 0.3s;
            cursor: pointer;
           
            width: 40px;
            height: 100%;
           
            color: #000;
            border-right: 1px solid #dedede;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 500;
            text-align: center;
            line-height: 16px;
        }
        .close:hover{
            background-color: #ffab00;
            color: white;
            border-color: #ffab00;
        }
        h2{
            font-weight: 500;
    line-height: 43px;
    
    height: 45px;
    color: #000;
   
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 20px;
        }
        span{
           
           
           height: 100%;
           display: flex;
           align-items: center;
           justify-content: center;
            color: #000;
            border-left: 1px solid #dedede;
            font-size: 24px;
            padding: 14px;
            text-transform: uppercase;
            font-weight: 500;
            text-align: center;
            
        }
    }
    .wishlist_middle{
        display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

.wishlistCard{
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e1e1e1;
    .cardImage{
        width: 76.84px;
        height: 76.84px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .cardText{
        width: 60%;
        h3{
            font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        }
        p{
            font-family: "Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        }
    }
    .cardBtns{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .counter{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
        }
    }
}
    }
    .wishlistbottom{
        display: flex;
        align-items: center;
        justify-content: center;
       position: absolute;
       overflow: hidden;
       top: 945px;
       width: 100%;
       .deleteall{
        width: 50%;
        height: 59px;
        background-color: black;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .2em;
        color: white;
        border: none;
        cursor: pointer;
        transition: color .3s ease 0s,background-color .3s ease 0s;
       }
       .deleteall:hover{
        background-color: #ffab00;
       }
       .viewcart{
        width: 50%;
        height: 59px;
        background-color: #2a2a2a;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .2em;
        color: white;
        border: none;
        cursor: pointer;
        transition: color .3s ease 0s,background-color .3s ease 0s;
       }
       .viewcart:hover{
        background-color: #ffab00;
       }
    }
}